.trigger {
    font-size: 18px;
    line-height: 64px !important;
    padding: 0 24px;
    transition: color .3s;
}

.trigger:hover {
    color: #1890ff;
}

.dash-logo {
    height: 32px;
    background: rgba(106, 255, 236, 0.58);
    margin: 16px !important;
}

.logout {
    float: right;
    margin-top: 16px;
    margin-right: 40px;
}
